<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Last month </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <div class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col>
          <app-info-card title="Cost" icon="cash-outline" content="€{{cost}}"></app-info-card>
        </ion-col>
        <ion-col>
          <app-info-card *ngIf="device.hasGasSensor" title="Gas Usage" icon="flame-outline" content="{{gasUsageMonthly}}m3"></app-info-card>
          <app-info-card *ngIf="!device.hasGasSensor && device.hasSolarCells" title="Net energy" icon="flame-outline" content="{{netEnergyUsage}}kWh"></app-info-card>
          <app-info-card *ngIf="!device.hasGasSensor && !device.hasSolarCells" title="Daily average" icon="flame-outline" content="{{energyUsagePerDay}}kWh"></app-info-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <app-info-card title="Usage" icon="flash-outline" content="{{powerUsage}}kWh"></app-info-card>
        </ion-col>
        <ion-col>
          <app-info-card *ngIf="device.hasSolarCells" title="Production" icon="sunny-outline" content="{{powerProduction}}kWh"></app-info-card>
          <app-info-card *ngIf="!device.hasSolarCells" title="Daily average" icon="cash-outline" content="€{{averageCostPerDay}}"></app-info-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <app-energy-bar-chart title="Energy"
                          unit="kWh"
                          [labels]="labels"
                          [firstSeriesValues]="barChartPowerUsage"
                          [secondSeriesValues]="barChartPowerProduction"></app-energy-bar-chart>

    <app-gas-chart *ngIf="device.hasGasSensor" [labels]="labels"
                   [barGasUsage]="barGasUsage"></app-gas-chart>

    <app-cost-chart [labels]="costLabels" [values]="costValues"></app-cost-chart>
  </div>
</ion-content>
