<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Last week
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <div class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col>
          <app-info-card title="Cost" icon="cash-outline" content="€{{cost}}"></app-info-card>
        </ion-col>
        <ion-col>
          <app-info-card title="Gas Usage" icon="flame-outline" content="{{gasUsageMonthly}}m3"></app-info-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <app-info-card title="Usage" icon="flash-outline" content="{{powerUsage}}kWh"></app-info-card>
        </ion-col>
        <ion-col>
          <app-info-card title="Production" icon="sunny-outline" content="{{powerProduction}}kWh"></app-info-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-card>
      <ion-card-header>
        Energy
      </ion-card-header>
      <ion-card-content>
        <canvas #barCanvas></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Solar
      </ion-card-header>
      <ion-card-content>
        <canvas #doughnutCanvas></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Gas usage
      </ion-card-header>
      <ion-card-content>
        <canvas #gasCanvas></canvas>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
