<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Last week
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <div class="ion-padding">
    <ion-grid *ngIf="device.hasGasSensor">
      <ion-row>
        <ion-col>
          <app-info-card title="Cost" icon="cash-outline" content="€{{cost}}"></app-info-card>
        </ion-col>
        <ion-col>
          <app-info-card title="Gas Usage" icon="flame-outline" content="{{gasUsageToday}}m3"></app-info-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <app-info-card title="Usage" icon="flash-outline" content="{{powerUsage}}kWh"></app-info-card>
        </ion-col>
        <ion-col>
          <app-info-card title="Production" icon="sunny-outline" content="{{powerProduction}}kWh"></app-info-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid *ngIf="!device.hasGasSensor">
      <ion-row>
        <ion-col>
          <app-info-card title="Cost" icon="cash-outline" content="€{{cost}}"></app-info-card>
        </ion-col>
        <ion-col>
          <app-info-card title="Net energy" icon="flash-outline" content="{{netEnergyUsage}}kWh"></app-info-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <app-energy-bar-chart [labels]="labels"
                          [firstSeriesValues]="barChartPowerUsage"
                          [secondSeriesValues]="barChartPowerProduction"
                          title="Energy per day"
                          unit="kWh"></app-energy-bar-chart>

    <app-energy-bar-chart [labels]="groupedLabels"
                          [firstSeriesValues]="groupedEnergyProduction"
                          [secondSeriesValues]="groupedEnergyUsage"
                          firstSeriesTitle="This week"
                          secondSeriesTitle="Last month"
                          title="Energy by hour"
                          unit="Wh"></app-energy-bar-chart>

    <ion-card [hidden]="!device.hasGasSensor">
      <ion-card-header> Gas usage </ion-card-header>
      <ion-card-content>
        <canvas #lineCanvas></canvas>
      </ion-card-content>
    </ion-card>

    <app-cost-chart [labels]="costLabels" [values]="costValues"></app-cost-chart>
  </div>
</ion-content>
