<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Overview
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <div class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col>
          <app-info-card title="Inside" icon="home-outline" content="{{temperature}}°C"></app-info-card>
        </ion-col>
        <ion-col>
          <app-info-card *ngIf="device.hasGasSensor" title="Gas Usage" icon="flame-outline" content="{{gasUsageToday}}L/min"></app-info-card>
          <app-info-card *ngIf="!device.hasGasSensor" title="Outside" icon="sunny-outline" content="{{outsideAirTemperature}}°C"></app-info-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <app-info-card title="Usage" icon="flash-outline" content="{{powerUsage}}W"></app-info-card>
        </ion-col>
        <ion-col>
          <app-info-card title="Production" icon="sunny-outline" content="{{powerProduction}}W"></app-info-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <app-energy-bar-chart *ngIf="device.hasSolarCells" title="Energy"
                          unit="Wh"
                          [firstSeriesValues]="barChartPowerUsage"
                          [secondSeriesValues]="barChartPowerProduction"
                          [labels]="energyLabels"
    ></app-energy-bar-chart>
    <app-energy-bar-chart title="Energy" unit="Wh"
                          [firstSeriesValues]="barChartPowerUsage"
                          [secondSeriesValues]="barChartPowerAverages"
                          firstSeriesTitle="Usage"
                          secondSeriesTitle="Average"
                          [labels]="energyLabels"></app-energy-bar-chart>

    <ion-card>
      <ion-card-header>
        Tariff
      </ion-card-header>
      <ion-card-content>
        <canvas #doughnutCanvas></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header *ngIf="device.hasGasSensor">Gas usage</ion-card-header>
      <ion-card-header *ngIf="!device.hasGasSensor">Inside temperature</ion-card-header>
      <ion-card-content>
        <canvas #lineCanvas></canvas>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
